div.featured {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    margin: 0 400px;
  }
  
  div.featured a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.feature a:hover {
    background-color: #777;
  }
  div.featured a img
  {
    height: 150px;
  }
  table
  {
     margin: 0 auto;
}
  td
  {
    width: 200px;
    text-align: center;
  }
  h1
  {
    text-align: center;
  }
  td img
  {
height: 200px;
padding: 20px 50px;
transition: 2s;
  }
  td img:hover
  {
    transform:scale(1.25,1.25) ;
  }
  /* td{
    
    font-size: large;
    color: white;
    transition: 2s;
  }
  td:hover
  {

    color: black;
  } */
  td a{
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 2s;
  }
  td a:hover
  {
    color: black;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 11;
    bottom:;
    top: 100%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }