div.featured {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    margin: 0 400px;
  }
  
  div.featured a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.feature a:hover {
    background-color: #777;
  }
  div.featured a img
  {
    height: 150px;
  }
  table
  {
     margin: 0 auto;
}
  td
  {
    width: 200px;
    text-align: center;
  }
  h1
  {
    text-align: center;
  }
  td img
  {
height: 200px;
padding: 20px 50px;
transition: 2s;
  }
  td img:hover
  {
    transform:scale(1.25,1.25) ;
  }
  /* td{
    
    font-size: large;
    color: white;
    transition: 2s;
  }
  td:hover
  {

    color: black;
  } */
  td a{
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 2s;
  }
  td a:hover
  {
    color: black;
  }

.btn {
    background: white;
    color: rgb(64, 119, 64);
    padding: 0.375rem 0.75rem;
    letter-spacing: 3px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
}

.card {
    height: 200px;
    position: relative;
    width: 200px;
}

div.card-side {
    -webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    visibility: visible;
}

div.card-back {
    background-color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
}

div.card:hover .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

div.card:hover .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}
div.card-front img {
    height: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
    height: 150px;
}
