@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Work Sans';
}

.receipt {
   height: 100vh;
   background-color: black;
}

.container {
   position: absolute;
   display: flex;
   background-color: #FAF9F6;
   width: 550px;
   height: 100vh;
   left: 50%;
   transform: translate(-50%,0)
}

.thank {
   position: absolute;
   display: flex;
   left: 50%;
   transform: translate(-50%,50%);
   font-size: 20px;
   width: fit-content;
   text-align: center;
}

.comment {
   position: absolute;
   display: flex;
   left: 50%;
   top: 100px;
   transform: translate(-50%,0);
   font-size: 12px;
   text-align: center;
}

.date {
   position: absolute;
   display: flex;
   left: 50%;
   top: 150px;
   transform: translate(-50%,0);
   font-size: 15px;
   text-align: center;
}

.stuff-text {
   position: absolute;
   display: flex;
   left: 12%;
   top: 200px;
   transform: translate(-50%,0);
   font-size: 15px;
   text-align: center;
}

.display {
   position: absolute;
   display: flex;
   flex-direction: column;
   background: transparent;
   width: 500px;
   height: 500px;
   left: 50%;
   top: 220px;
   transform: translate(-50%,0%);
   overflow: scroll;
}

.total { 
   position: absolute;
   display: flex;
   left: 50%;
   top: 900px;
   transform: translate(-50%,0);
   font-size: 20px;
}

.receipt-item {
   position: relative;
   display: none;
   margin-bottom: 25px;
}

.item_name {
   position: absolute;
   display: flex;
}

.item_price {
   position: absolute;
   display: flex;
   left: 90%
}